#menu{
  width: 100%;
  min-height: 50vh;
  background-color: var(--warm-beige);
  display: flex;
}

.container{
  padding: 1rem;
}

.navigation{
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
}

.navigation nav ul{
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.menuNavList{
  width: 100px;
  height: 80px;
  background: linear-gradient(var(--brown-medium), var(--gray-light));
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (width >= 768px) {
  #menu{
    padding-top: 3rem;
  }
}