.footer {
  background-color: var(--gray-dark);
  color: #fff;
  padding: 40px 20px;
  text-align: left;
  display: flex;
  justify-content: center;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footerSection {
  flex: 1;
  min-width: 200px;
  margin: 20px;
}

.footerSection h4 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footerSection p {
  font-size: 14px;
  line-height: 1.6;
}
