.itemsCard {
  width: 300px;
  margin: 1rem 0;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: #ffffff85;
  font-size: 12px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  transition: transform 1s ease;
  transform: scale(1);
}

.itemsCard:hover{
  transform: scale(1.05);
}

.itemsCard h5 {
  text-align: center;
  font-size: 18px;
  color: var(--brown-espresso);
}

.addBtn{
  padding: 10px;
  border-radius: 10px;
  background-color: var(--brown-light);
}

.priceCartWrapper{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  font-size: 1rem;
}

.priceCartWrapper span{
  color: rgb(19, 243, 19);
}

@media (width <=768px) {
  .itemsCard {
    width: 250px;
    padding: 20px 30px;
  }
}