:root {
  --brown-light: #D7BFAE;
  --brown-medium: #A68971;
  --brown-dark: #7D5840;
  --brown-espresso: #4B2E2B;
  --gray-light: #F5F5F5;
  --gray-medium: #CCCCCC;
  --gray-dark: #333333;
  --gray-warm: #8B8589;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;  
  background: var(--gray-medium);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}